@page
@model SeguimientoEnCasa.App.Presentacion.Pages.Magisterio.DetallesMaestroModel
@{
}
<h2>@Model.Maestro.Nombre</h2>
<div>
    Id: @Model.Maestro.Id
</div>
<div>
    Nombre: @Model.Maestro.Nombre
</div>
<div>
    Apellidos: @Model.Maestro.Apellidos
</div>
<div>
    Numero de Telefono: @Model.Maestro.NumeroTelefono
</div>
<div>
    Genero: @Model.Maestro.Genero
</div>
<div>
    Direccion: @Model.Maestro.Asignatura
</div>
<div>
    Latitud: @Model.Maestro.Curso
</div>
<div>
    Longitud: @Model.Maestro.Registro
</div>


<a asp-page="./Maestro" class="btn-default">
Volver
</a>