@page
@model SeguimientoEnCasa.App.Presentacion.Pages.GrupoTutores.TutorModel
@{
}
<h1>Lista De Tutors</h1>
<a class="btndetalle" asp-page="./CrearTutor">
Crear Nuevo Tutor
</a>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Numero de Telefono</th>
        </tr>
    </thead>

    @foreach (var p in Model.Tutors)
    {
        <tr>
            <td>@p.Nombre</td>
            <td>@p.Apellidos</td>
            <td>@p.NumeroTelefono</td>
            <td>
                <a class="btndetalle" asp-page="./DetallesTutor" asp-route-IdTutor="@p.Id">
                Detalles
                </a>
            </td>
            <td>
                <a class="btndetalle" asp-page="./EditarTutor" asp-route-IdTutor="@p.Id">
                Editar
                </a>
            </td>
            <td>
                <a class="btndetalle btndetallepur" asp-page="./EliminarTutor" asp-route-IdTutor="@p.Id">
                Eliminar
                </a>
            </td>
        </tr>
    }
</table>